.wetherbg{
  background: url(../public/weather1.jpg);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
  font-weight: 700px;
}
.wetherResultBox{
  background-color:beige;
  margin: auto;
  width: 300px;
  height: 150px;
}
.img{
  margin-top: 1rem;
  height: 50px;
  width: 50px;
}
.cityname{
  font-size: 20px;
}
.temp{
  font-size: 30px;
}